h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Verdana;
}

input {
  min-width: 75%;
}

p {
  text-align: center;
}

.invisible {
  display: none;
}

#main-content {
  text-align: center;
}

#selectMessageTemplate {
  max-width: 50%;
}
